@font-face {
    font-family: 'Newsreader';
    src: url(../../assets/fonts/alternative-files/Newsreader-Regular.woff2) format("woff2");
    font-style: normal;
}

@font-face {
    font-family: 'Newsreader';
    src: url(../../assets/fonts/alternative-files/Newsreader-LightItalic.woff2) format("woff2");
    font-style: italic;
}

@font-face {
    font-family: 'Newsreader-light';
    src: url(../../assets/fonts/alternative-files/Newsreader-Light.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url(../../assets/fonts/alternative-files/Outfit-Medium.woff2) format("woff2");
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-light';
    src: url(../../assets/fonts/alternative-files/Outfit-Light.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
}
 
