// Breakpoint Values
$desktop: 1280px;
$tablet: 867px;

// Colors
$primary-text: #0C1E1A;
$primary-accent: #1E6655;
$primary-bg: #EFFAF7;
$border: #B7CEC9;
$optional-text: #B7CEC9;
$alternate-bg: #E4EFEC;
$alternate-text: #FFFFFF;
$input-bg: #FFFFFF;
$tag-bg: #FFFFFF;
