@use './partials/typography' as *;
@use './partials/mixins' as *;
@use './partials/variables' as *;

// Comments to help relate to styleguide specifications

.main {
    background-color: $alternate-bg;

    @include desktop {
        @include flex-center(row-reverse, center, flex-start);
    }
    
    &__filter {
        background-color: $alternate-bg;
        @include desktop {
            height: 100vh;
            max-width: 25%;
        }
    }

    &__content {
        background-color: $primary-bg;
    }
}



body {
    background-color: $primary-bg;
}

* {
    font-family: 'Newsreader';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// title
h1 {
    font-family: 'Newsreader-light';
    font-size: 1.625rem;
    font-weight: 300;
    line-height: 2.375rem;
    
    @include tablet {
        font-size: 3.25rem;
        line-height: 4.125rem;
    }
}

// Wordmark
h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
    
    @include tablet {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
}


// Heading
h3 {
    font-family: 'Outfit-light';
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 0.9375rem;
    
    @include tablet {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.875rem;
    }
}

// Body copy
p {
    font-family: 'Outfit';
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.9375rem;
    
    @include tablet {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.625rem;
    }
}

li {
    font-family: 'outfit';
    font-weight: 500;
}