@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {

    &__container {
        @include flex-center(row, space-between, center);
        padding: 1.5rem 1rem;

        @include tablet {
            padding: 2rem;
        }
    }

    &__button {
        @include flex-center(row,space-between,center);
        border: 0.125rem solid $primary-accent;
        border-radius: 3.125rem;
        padding: 0.5rem 2rem;

        &--selected {
            background-color: $primary-accent;
        }
    }

    &__filters {
        color: $primary-accent;
        padding-right: 0.5rem;
        font-size: 0.75rem;

        @include tablet {
            font-size: 1rem;
        }

        &--selected {
            color: $alternate-text;
        }
    }

    &__path {
        fill: $primary-accent;

        &--selected {
            fill: $alternate-text;
        }
    }
}