@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {

    &__container {
        @include flex-center(row, space-between, center);
        padding: 1.5rem 1rem;
    }

    // &__title {}

    &__button {
        @include flex-center(row,space-between,center);
        border: 0.125rem solid $primary-accent;
        border-radius: 1rem;
        padding: 0.5rem 1rem;

        &--selected {
            background-color: $primary-accent;
        }
    }

    &__filters {
        color: $primary-accent;
        padding-right: 0.5rem;
        font-weight: 700;

        &--selected {
            color: $alternate-text;
        }
    }

    // &__svg {
    //     fill: $primary-accent;
    // }

    &__path {
        fill: $primary-accent;

        &--selected {
            fill: $alternate-text;
        }
    }
}