@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.main {
    background-color: $alternate-bg;

    @include desktop {
        @include flex-center(row-reverse, center, flex-start);
    }
    
    &__filter {
        background-color: $alternate-bg;
        @include desktop {
            height: 100vh;
            max-width: 25%;
        }
    }

    &__content {
        background-color: $primary-bg;
    }
}